<div class="map-container">
  <div id="map" style="height: 100%; width: 100%;"></div>
  
  <div class="map-legend">
    <div class="legend-item">
      <img src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png" height="20">
      <span>Barato (&lt;1.4€/L)</span>
    </div>
    <div class="legend-item">
      <img src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-orange.png" height="20">
      <span>Moderado (1.4-1.6€/L)</span>
    </div>
    <div class="legend-item">
      <img src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png" height="20">
      <span>Caro (&gt;1.6€/L)</span>
    </div>
  </div>
</div>